/* Declares the background color for the entire webpage. */
html {
  background-color: #81c784;
}

/* Makes h1 have a larger-than-normal font-size. */
h1 {
  font-size: 50px;
}

/* Positions the map in such a fashion that it takes up an appropriate amount of the screen. */
#map {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: 52.5%;
  border: 1px solid #ccc;
}
/* Allows for the petition_info tag to be hidden when not needed. */
#petition_info {
  display: none;
}

/* Used in footer to make text small and align properly to the page. */
#copyright {
  position: absolute;
  font-size: 10px;
  margin-left: 55%;
}

/* A class to align the header with the rest of the body. */
.header {
  margin-left: 55%;
}

/* Creation of the menu class used to differentiate between Current Petition and About Us.*/
.tabs {
  margin-left: 55%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Creation of the button class used to display the buttons properly. */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
}

/* Causes the buttons to change color when hovered over and when active, respectively. */
.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #ccc;
}

/* Modifies the display of the content of the tabs of the menu. */
.tabcontent {
  display: none;
  background-color: #f1f1f1f1;
  margin-left: 55%;
  padding: 1px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
}

/* Definition of the animation effect. */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
